<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
		<div class="card bg-dark text-white " style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">
					Contect Us
				</h5>
				<p class="card-text">
					<img class=" bg-light"src="https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-464-phone-old@2x.png"width="20" height="24">
					+91 9957521731
				</p>
				<p class="card-text">
					<img class=" bg-light" src="https://www.glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-592-map@2x.png"width="20" height="24">				
					 Gracy Convent School,Paithani Jalali Rd, Dwarahat, Almora,<br> Uttarakhand 263653
				</p>	
			</div>
			
		</div>
        <span class="text-muted">Copyright &copy; Gracy Convent School 2021</span>
    </div>
</footer>