        <div id="load_screen">
            <section class="wrapper dark">
                <div class="spinner">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
            </section>
        </div>