<% layout('layouts/boilerplate')%>
<body>
    <div class="card" >
      
        <div class="card-body">
            <div class="p-3 mb-2 bg-warning text-dark">About Us</div>
                <div class="alert alert-primary text-dark" role="alert">
                        Gracy Public School is a young English Medium school in Jalali village with the current capacity of
                        150 students from more than 30 villages. The school is run and managed by <b>Nandita Bhatt</b> along
                        with <b>Sanjeev Arora</b>.<br>
                        The school is a brainchild of Nandita Bhatt to uplift the lives of girl child. While the school is a
                        co-ed structure, various initiatives are knitted into the structure to encourage admission of girls
                        into the school. A large number of girls in the school are aided with 100% scholarships and donors
                        are encouraged to sponsor girl child education.<br>
                        The campus is equipped with modern facilities like a computer lab, a playground and an art
                        facility. All of this is managed by learned staff members with combined experience of 200 years.
                        Recently, the school collaborated with ABLE Foundation for teachers training to uplift the quality of
                        education and bring a systematic growth in management skills via interdisciplinary approach to
                        learning.
                </div>
               
                <div class="p-3 mb-2 bg-warning text-dark">Mission / Vision</div>
                <div class="alert alert-primary text-dark" role="alert">
                        Mission: The mission of the Gracy Public School is to be the first school in Almorah
                        district to focus on women upliftment through education.
                        <br>
                        Vision: The vision is to educate every girl-child and give them exposure to be able
                        to run the society towards positive development.
                </div>
        </div>
        </div>
</body>
