<% layout('layouts/boilerplate')%>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <% for(i=1;i<=6;i++){ %>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="<%=i%>"
            aria-label="Slide <%=i%>"
        ></button>
        <%}%>
    </div>
    <div class="carousel-inner">
            <div class="carousel-item active">
                    <img
                        src="/images/gallery/0.jpg"
                        class="d-block w-100 img-fluid"
                        alt="..."
                    />
                </div>
        <% for(i=1;i<=6;i++){ %>
            <div class="carousel-item ">
                    <img
                        src="/images/gallery/<%=i%>.jpg"
                        class="d-block w-100 img-fluid"
                        alt="..."
                    />
            </div>
        <%}%>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />

<div class="card mx-auto" style="width: 18rem;">
    <img
        src="/images/icons/GCSfounder.JPG"
        class="card-img-top"
        alt="..."
        height="300"
    />
    <div class="card-body">
        <p class="card-text">
            <p><b>From the Founders desk</b></p>
        </p>
    </div>
    <!-- Button trigger modal -->
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
    >
        Read more
    </button>

    <!-- Modal -->
    <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Founder</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <p>The school has a unique approach to education that not only focuses on English language
                        communication but also towards social and emotional well-being of each student. The
                        school tends to create a learning environment where teachers are trained on regular
                        bases to make curriculum fun and playful.
                        The philosophies of learning via experience and activities has been the age old technique
                        of hindu traditions and that is what the school wished to inculcate in the teachers and
                        students. Guru shishya parampara
                       </p>
                        <img src="/images/icons/swami.JPG">
                        <p> Jiss shiksha se hum apna jeevan nirman kar saken, manushya bann sakein, charitra
                        gathan kar sakein aur vicharon ka samanjas kar sakein vahi vastav mei shiksha kehlane
                        yogya hai - <b>SWAMI VIVEKANAND </b>
                        </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>