<% layout('layouts/boilerplate')%>
<div>
        
        <div class="bounce mb-3 rounded">
                <div class="spinner-grow text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                </div>
         <p><span class="badge bg-danger"> 2021 Admissions Open</span></p>
        </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide p-3 bg-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <% for(i=1;i<=6;i++){ %>
        <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="<%=i%>"
            aria-label="Slide <%=i%>"
        ></button>
        <%}%>
    </div>
    <div class="carousel-inner">
            <div class="carousel-item active">
                    <img
                        src="/images/gallery/0.jpg"
                        class="d-block w-100 img-fluid rounded"
                        alt="..."
                    />
                </div>
        <% for(i=1;i<=6;i++){ %>
            <div class="carousel-item ">
                    <img
                        src="/images/gallery/<%=i%>.jpg"
                        class="d-block w-100 img-fluid rounded"
                        alt="..."
                    />
            </div>
        <%}%>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />


<div class="card rounded mb-3" >
        <div class="card-body  alert-dark">
          <h5 class="card-header">About Us</h5>
          <p class="card-text text-center">
                Gracy Public School is a young English Medium school in Jalali village with the current capacity of 150 students from more than 30 villages. The school is run and managed by Nandita Bhatt along with Sanjeev Arora.
                The school is a brainchild of Nandita Bhatt to uplift the lives of girl child. While the school is a co-ed structure, various initiatives are knitted into the structure to encourage admission of girls into the school. A large number of girls in the school are aided with 100% scholarships and donors are encouraged to sponsor girl child education.
            </p>
          
        </div>
      </div>


<div class="card mx-auto" style="width: 18rem;">
    <img
        src="/images/icons/GCSfounder.JPG"
        class="card-img-top rounded"
        alt="..."
        height="300"
    />
    <div class="card-body ">
        <p class="card-text alert alert-warning">
            <b>From the Founder's desk</b>
        </p>
    </div>
    <!-- Button trigger modal -->
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
    >
        Read more
    </button>

    <!-- Modal -->
    <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Founder's desk</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                        <p>The school has a unique approach to education that not only focuses on English language
                        communication but also towards social and emotional well-being of each student. The
                        school tends to create a learning environment where teachers are trained on regular
                        bases to make curriculum fun and playful.
                        The philosophies of learning via experience and activities has been the age old technique
                        of hindu traditions and that is what the school wished to inculcate in the teachers and
                        students. Guru shishya parampara
                       </p>
                       <div >
                            <img  class="rounded mx-auto d-block" src="/images/icons/swami.JPG" style="width: 20rem;">
                       </div>
                        
                        <p class="alert alert-success"> Jiss shiksha se hum apna jeevan nirman kar saken, manushya bann sakein, charitra
                        gathan kar sakein aur vicharon ka samanjas kar sakein vahi vastav mei shiksha kehlane
                        yogya hai - <b>SWAMI VIVEKANAND </b>
                        </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>