<% layout('layouts/boilerplate')%>
<div >
        <div class="mapouter m-auto my-4" style="height:588px;width:880px;">
                <div class="gmap_canvas" style="height:588px;width:880px;">
                    <iframe width="880" height="588" id="gmap_canvas" src="https://maps.google.com/maps?q=gracy%20convent%20school,%20%20,dwarahat%20uttrakhand&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe><br>
                    <style>.mapouter{position:relative;text-align:right;height:588px;width:880px;}</style>
                    <a href="https://www.embedgooglemap.net">google maps html generator</a>
                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:588px;width:880px;}
                    </style>
                </div>
        </div>
</div>
